*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.cxx/
*.log
keystore.properties
*.jks
*.keystore
!debug.keystore
.externalNativeBuild/
.navigation/
/lint-results*
/lint-cache/
.kotlin/
